* {
    box-sizing: border-box;
    margin: 0;
}

.top { border-top: 3px solid black;}
.bottom { border-bottom: 3px solid black;}
.right { border-right: 3px solid black;}
.left { border-left: 3px solid black;}

body {
    text-align: center;
}

#gameboard {
    display: flex;
    margin: 100px auto;
    flex-wrap: wrap;
    width: 300px;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    font-family: Helvetica;
    font-size: 50px;
}